.card 
    grid-column: 2
    grid-row:2
    align-self: center
    justify-self: center
    padding: 10px
    display: grid
    background-color: #f7f7ee
    grid-template-areas: 'pic-data'
    grid-template-column: 12px auto
    grid-row-gap: 10px
    border-radius: 5px
    box-shadow: #17706e
.grid-container
    padding: 10px
    display: grid
    grid-template-columns: 100px auto 100px
    grid-template-row: 1fr 1fr 1fr
    grid-row-gap: 10px
    grid-column-gap: 10px
    grid-template-areas: 'back-btn card'
    background-color: #b6eb7a
.cards-container 
    padding: 5px
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-column-gap: 10px
    grid-row-gap: 10px
.back-btn
    align-self: start
    grid-column: 1
    grid-row: 1
    max-width: 100px
    margin: 10px
    background-color: #fb7813 
    border: none
    color: white
    padding: 15px 32px
    text-align: center
    text-decoration: none
    display: inline-block
    font-size: 16px
    border-radius: 5px
    margin: 0px
