<div class="grid-container">
  <div class="card">
    <div class="pic">
      <img src="{{ profile.picture.large }}" alt="" />
    </div>
      <div class='data'>
        <div class='username'>
          Username: <b>{{profile.login.username}}</b>
        </div>
        <div class='name'>
          Name: <b>{{profile.name.first | titlecase }} {{ profile.name.last | titlecase }}</b>
        </div>
        <div class='birth'>
          Birth: <b>{{ profile.dob.date | date: "longDate" }}</b>
        </div>
        <div class='address'>
          Address: <b>{{profile.location[0] | titlecase}}</b>
          <b>{{profile.location.city | titlecase}},  {{profile.location.state | titlecase}}   {{profile.location.postcode}}, {{ profile.location.country | titlecase}}</b>
      </div>
      <div phone='phone'>
          Phone: <b>{{ profile.phone }}</b>
      </div>
      <div class="back-btn" routerLink="/members">Back</div>
    </div>
</div>





